<div>
    <h1>{{event.name}}</h1>
    <hr />
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/><br />
    <span class="thumbLabel">Date:</span><span class="thumbValue">{{event.date}}</span><br />
    <span class="thumbLabel">Time:</span><span class="thumbValue">{{event.time}}</span><br />
    <span class="thumbLabel">Address:</span><span class="thumbValue">{{event.location.address}}</span><br />
    <span class="thumbLabel"></span><span class="thumbValue">{{event.location.city}}, {{event.location.province}}</span>

    <div>
        <h2>Sessions</h2>
        <hr />
        <span ng-if="event.sessions.length == 0">There are no available sessions.</span>

        <div ng-repeat="session in event.sessions" class="sessionThumb"> <!-- | filter:query | orderBy:sortorder -->
            <h3>{{session.name}}</h3>
            <h5>{{session.creatorName}}</h5>
            <span class="thumbLabel">Duration:</span><span class="thumbValue">{{session.duration}}hr(s)</span><br />
            <span class="thumbLabel">Level:</span><span class="thumbValue">{{session.level}}</span>

            <p>{{session.abstract}}</p>
        </div>

    </div>


</div>